<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aj Retouch</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="site_name">
            <h1>Aj Retouch</h1>
        </div>
        <div class="social_links">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-whatsapp"></i></a>
        </div>
        <div class="nav_items">
            <a href="/">Editorial</a>
            <a href="/commercial">Commercial</a>
            <a href="/fineArt">Fine Art</a>
            <a href="/beforeAndafter">Before & After</a>
            <a href="/testimonial">Testimonial</a>
            <a href="/contact">Contact</a>
        </div>
    </nav>

